{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Comment</legend>
                <h3>Are you sure you want to delete the comment "{{ comment.body }}"</h3>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'blog:comment_delete' comment.pk %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
