{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="font-italic">{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|linebreaks }}
    {{ post.body|markdown }}

    <p><a href="{% url "blog:post_share" post.id %}">Share this post</a></p>

    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
            {% if perms.foo %}
            <p>You have permission to do something in the foo app.</p>
        {% if perms.foo.can_vote %}
            <p>You can vote!</p>
        {% endif %}
        {% if perms.foo.can_drive %}
        <p>You can drive!</p>
        {% endif %}
    {% else %}
    <p>You don't have permission to do anything in the foo app.</p>
    {% endif %}

            <p class="text-right mt-2">
                <a class="btn btn-danger " href="{% url 'blog:comment_delete' pk=comment.pk %}">Delete</a>
            </p>

        </div>
    {% empty %}
        <p>There no comments yet.</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2 class="font-italic">Add a new comment:</h2>
        <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}